body {
    height: 100vh;
    background-size: cover;
}

.navigation {
    overflow: hidden;
    background-color: rgb(26, 88, 174);   
}

.navigation a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropbutton {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navigation a:hover, .dropdown:hover
.dropbutton {
    background-color: rgb(108, 108, 243);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #dde6dd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
* {
    box-sizing: border-box;
}

body {
    padding: 5px;
    background: #f1f1f1;
}

.header {
    padding: 5px;
    text-align: center;
    background-color: rgb(248, 242, 242);
}
.header h1 {
    font-size: 50px;
}
.leftcolumn {
    float: left;
    width: 75%;
    
}
.right {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;

}



.card2 {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.card h2 {
    text-align: center;
    margin-top: 0;
}
.img {
    background-color: white;
    width: 70%;
    padding: 15px;
    width: 240px;
    height: 235px;
    margin-right: 20px;

}
.card2 p {
    margin: 0;

}
.card2 p:first-child {
    margin-top: 10px;
}
.coloum::after {
    content: "";
    display: table;
    clear: both;
}
footer {
    text-align: center;
    background-color: #3e3e3e;
    color: #fff;
    padding: 5px;
}
